<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TunUp!{% endblock %}</title>
        {% block stylesheets %}
        {% include "filesUsed/link.html.twig" %}
        {% endblock %}
    </head>
    <body>
      {% block nav %}
          {% include "filesUsed/menu.html.twig" %}
      {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% include "filesUsed/script.html.twig" %}
        {% endblock %}
    </body>
</html>
